.auth-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 84px);

  .auth-form-wrapper {
    @include input-element();
    @include base-grid();
    grid-gap: 25px;
    padding: 35px;

    .form-group {
      display: flex;
    }

    svg {
      font-size: 1em;
      margin-right: 10px;
    }

    .auth-btn {
      display: inline-block;
      padding: 10px 15px;
      font-size: 15px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #c6c9c6;
      border: none;
      border-radius: 15px;
      box-shadow: 0 5px #666;

      &:hover {
        background-color: rgb(119, 178, 233);
      }
      &:active {
        background-color: rgb(119, 178, 233);
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
    }
  }

  .left-column {
    background-size: cover;
  }

  .right-column {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $offwhite;
  }
}
